body,h1,h2,h3,h4,h5,h6,p,a{
    padding:0;
    margin: 0;
    text-decoration:none;
}
.btn-primary {
    color: #fff;
    background-color:#745e37;
    border:#745e37;
}
.btn-primary:hover {
    color: #fff;
    background-color: #DCC69D;
    border-color: #DCC69D;
}
.display-none{
    display: none!important;
}
body{
    height: 100vh;
    background-color: #DCC69D;
}
.cls-1,.cls-2,.cls-3{fill:#ffffff;}
.cls-2,.cls-3{stroke:#ffffff;}
.cls-2{stroke-miterlimit:10;stroke-width:1.16px;}
.cls-3{stroke-linejoin:round;stroke-width:0.58px;}


/* =====================================================================================*/

.display-none{
    display: none!important;
}
.title{
    margin: 20vh auto 10vh;
    max-width: 800px;
    width: 70vw;
}
.upload-record-container{
    display: flex;
    justify-content: center;
    height: auto;
}
.info-cards-container{
    max-width:800px;
    width:70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-cards{
    width:100%;
    display: flex;
    margin: 1vh auto;
    background-color: rgba(255, 255, 255, 0.863);
    color: rgb(59, 58, 58);
    border-radius: 25px;
    box-shadow: 0px 7px 15px 1px rgba(0, 0, 0, 0.253);
}
.cashRecord{
    margin: 30px;
}
.photo-container{
    min-width:150px;
    min-height:150px;
    width:300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.summary-container{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.summary-container .content{
    font-weight: bolder;

}

.photo-container img{
    height: 90%;
    width:  90%;
    border-radius: 25px;
    box-shadow: 0px 7px 15px 1px rgba(0,0,0,0.62);
}
.cashCard{
    display: flex;
    flex-wrap: wrap;
}
/* logout model================================================================================== */
#logoutModal .modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoutModal .modal-content{
    
    height:10vw;
    width: 20vw;
    border-radius: 25px;
}
#logoutModal .modal-content .modal-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}
#logoutModal .confirm-logout-btn{
    width:100%
}
#logoutModal .logout-modal-msg{
    height: 100%;
    display: flex;
    align-items: center;
}
#logoutModal .confirm-logout-btn a{
    color: #fff;
}
.active{
    background-color: #DCC69D!important;
    border-color: #DCC69D;
    box-shadow: inset 0px 0px 28px 0px #00000070;
}


@media(max-width:625px){

    .top-bar-container,.menu-btn-container{
        height: 13vw !important;

    }
    .menu-btn-container{
        position: sticky;
        padding: 0 1vw;
    }
    .top-bar-container .inner-logo svg{
        height: 3vw;
    }
    .menu-btn-container div{
        height: 7vw !important;
        width: 7vw !important;
    }
    .menu-btn-container div i{
        font-size: 5.5vw !important;
    }

    .app-logo .inner_page_logo svg{
        height: 20vw; 
    }
    .modal-dialog {
        max-width: 90vw;
        margin: 1.75rem auto;
    }
    .drop-down-meun .menu-list{
        width: 55vw;
    }
    .drop-down-meun .menu-list .list-item{
        height: 15vw;
    }
    .list-item .list-btn i{
        font-size: 9vw;
        padding: 0 4vw;
    }
    .list-item .list-btn p{
        font-size: 3vw;
        margin-left: 3vw;
    }
    #logoutModal .modal-content{
        height: 35vw;
        width: 60vw;
    }
}

