.top-bar-container{
    position: sticky;
    height: 5vw;
    background-color: #00000050;
    box-shadow: inset 0px 70px 40px -50px rgba(0,0,0,0.4),inset 0px -70px 40px -50px rgba(0,0,0,0.4);
}
.top-bar-container .background{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-btn-container{
    position: absolute;
    top:0;
    height:5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-btn-container .menu-btn{
    box-shadow: inset 0px 0px 28px 0px #ffffff96;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height:3.5vw;
    width:3.5vw;
    margin-left: 1vw;
}
.menu-btn-container .user-loggedin-icon,.user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height:3.5vw;
    width:3.5vw;
    margin-right: 1vw;
}

.menu-btn-container .menu-btn i,.user-loggedin-icon i,.user-icon i{
    font-size: 3vw;
    font-weight: bolder;
}

.menu-btn-container .user-loggedin-icon i{
    color: #ebe8e3;
}

.user-loggedin-icon i:hover,.user-icon i:hover,.menu-btn i:hover{
    font-size: 3.5vw;
}


.inner-logo svg{
    z-index: 1000;
    height: 2.5vw; 
}
.menu-list{
    width:17vw;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 0 25px 25px 0;
    box-shadow: 9px 9px 28px 0px #00000070;
}
.list-item{
    
    
    height:5vw;
}
.list-item a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.list-item a i{
    color: #000000;
    font-size: 3vw;
    padding: 0 1.5vw;
    
}
.list-item a p{
    color: #000000;
    font-size: 1.5vw;
    padding: 0 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1vw;
}
hr{
    padding: 0;
    margin: 0;
}