body,h1,h2,h3,h4,h5,h6,p,a{
    padding:0;
    margin: 0;
    text-decoration:none;
}
.btn-primary {
    color: #fff;
    background-color:#745e37;
    border:#745e37;
}
.btn-primary:hover {
    color: #fff;
    background-color: #DCC69D;
    border-color: #DCC69D;
}
.display-none{
    display: none!important;
}
body{
    height: 100vh;
    background-color: #DCC69D;
}
.cls-1,.cls-2,.cls-3{fill:#ffffff;}
.cls-2,.cls-3{stroke:#ffffff;}
.cls-2{stroke-miterlimit:10;stroke-width:1.16px;}
.cls-3{stroke-linejoin:round;stroke-width:0.58px;}

.logo-banner-container{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-banner-container .background{
    width:100%;
    height:23vw;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
    box-shadow: inset 0px 70px 40px -50px rgba(0,0,0,0.4),inset 0px -70px 40px -50px rgba(0,0,0,0.4);
}
.logo-banner-container .background .start-container{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;   
    transition-duration: 1s;
    position: absolute;
    animation: blinker 3s  infinite;
    z-index: 10;
    background-color: #00000062;
}

.logo-banner-container .background .start-container p{
    color: #FFF;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 14px #000000;

}

.front-logo svg{
    height: 20vw; 
}







/* inner page top bar -------------------------------------------------------------------------*/
.top-bar-container{
    position: sticky;
    height: 5vw;
    background-color: #00000050;
    box-shadow: inset 0px 70px 40px -50px rgba(0,0,0,0.4),inset 0px -70px 40px -50px rgba(0,0,0,0.4);
}
.top-bar-container .background{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-btn-container{
    position: absolute;
    top:0;
    height:5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-btn-container .menu-btn{
    box-shadow: inset 0px 0px 28px 0px #ffffff96;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height:3.5vw;
    width:3.5vw;
    margin-left: 1vw;
}
.menu-btn-container .user-loggedin-icon,.user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height:3.5vw;
    width:3.5vw;
    margin-right: 1vw;
}

.menu-btn-container .menu-btn i,.user-loggedin-icon i,.user-icon i{
    font-size: 3vw;
    font-weight: bolder;
}

.menu-btn-container .user-loggedin-icon i{
    color: #ebe8e3;
}

.user-loggedin-icon i:hover,.user-icon i:hover,.menu-btn i:hover{
    font-size: 3.5vw;
}


.inner-logo svg{
    z-index: 1000;
    height: 2.5vw; 
}
.menu-list{
    width:17vw;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 0 25px 25px 0;
    box-shadow: 9px 9px 28px 0px #00000070;
}
.list-item{
    
    
    height:5vw;
}
.list-item a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.list-item a i{
    color: #000000;
    font-size: 3vw;
    padding: 0 1.5vw;
    
}
.list-item a p{
    color: #000000;
    font-size: 1.5vw;
    padding: 0 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1vw;
}
hr{
    padding: 0;
    margin: 0;
}

/* loginmodal */
.modal-backdrop.show {
    opacity: 0.3;
}
#login-modal-btn-close, #logout-modal-btn-close{
    display: none;
}
.modal-header{
    display: flex;
    flex-direction: column;
    border-bottom: none;
}

#loginModal .modal-content  {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.login-form-btns-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.login-form-btns-container .login-form-btn,.login-form-btns-container .register-form-btn{
    height:20vw;
    width:16vw;
    max-width: 230px;
    max-height: 280px;
    background-color: #745e37;
    color: #FFF;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-shadow: 0px 0px 20px #000000;
    border-radius: 10px;
    margin: 1vw 1.5vw ;
}

.login-form-btn p,.register-form-btn p{
    font-size: 1.5vw;
    margin: 0 0 1.2vw;
}

.login-form-btn svg,.register-form-btn svg{
    height:10vw;
    max-height: 174px;
    margin:1vw 0;
}
.login-form-btn:hover, .register-form-btn:hover{
    background-color: #DCC69D;
    border-color: #DCC69D;
    box-shadow: inset 0px 0px 28px 0px #00000070;
}
.btn-icon{
    fill:none;
    stroke:#fff;
    stroke-linejoin:round;
    stroke-width:3px;
}

.modal-body{
    padding: 0 1rem 1rem;
}

.login-form-container, .register-form-container{
    margin: 0 1.5vw 1vw;
}

.login-form-container form, .register-form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form-container form button, .register-form-container form button{
    margin-top: 10px;
}




/* logout model================================================================================== */
#logoutModal .modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoutModal .modal-content{
    
    height:10vw;
    width: 20vw;
    border-radius: 25px;
}
#logoutModal .modal-content .modal-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#logoutModal .confirm-logout-btn{
    width:100%
}
#logoutModal .logout-modal-msg{
    height: 100%;
    display: flex;
    align-items: center;
}
#logoutModal .confirm-logout-btn a{
    color: #fff;
}
.active{
    background-color: #DCC69D!important;
    border-color: #DCC69D;
    box-shadow: inset 0px 0px 28px 0px #00000070;
}
.logout-btn{
    width:100%
}



/* upload container============================================================================================================= */
/* .upload-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.upload-bar-container{
    width:70vw;
    margin: 20vh auto 0;
}
#cash-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#cash-form .submit-btn{
    align-self: center;
    width: 150px;
}
#cash-form .submit-btn input{
    width:100%;
}
#upload-section{
    
    margin-bottom: 5vw;
}
#upload-section .imageBackground{
    width:100%;
    margin: 2vw 0;
}
.image-container{
    width:100%;
    display: flex;
    justify-content: center;
}
.imageWall{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
}
.uploaded-img{
    box-sizing: border-box;
    width:300px;
    height:300px;
    border:1rem solid #fff;
    border-bottom: 2.5rem solid #FFF;
    margin: 1rem;
}
.uploaded-img img{
    width:100%;
    height: 100%;
}
.uploaded-img div{
    text-align: center;
    margin-top: 0.5rem;
}
@keyframes blinker {  
  40% { opacity: 0; }
}
@media (min-width: 626px) {
    .modal-dialog {
        max-width: 40vw;
        margin: 1.75rem auto;
    }
}
@media(max-width:625px){

    .top-bar-container,.menu-btn-container{
        height: 13vw !important;
    }
    .menu-btn-container{
        position: sticky;
        padding: 0 1vw;
    }
    .top-bar-container .inner-logo svg{
        height: 3vw;
    }
    .menu-btn-container div{
        height: 7vw !important;
        width: 7vw !important;
    }
    .menu-btn-container div i{
        font-size: 5.5vw !important;
    }

    .app-logo .inner_page_logo svg{
        height: 20vw; 
    }
    .modal-dialog {
        max-width: 90vw;
        margin: 1.75rem auto;
    }
    .to-be-top-bar{
        justify-content:flex-start;
        height: 13vw;
    }
    .login-form-btn,.register-form-btn{
        width: 35vw !important;
        height:25vh !important;
    }
    .login-form-btn svg,.register-form-btn svg{
        height: 60% !important;
    }
    .login-form-btn p,.register-form-btn p{
        font-size: 20px !important;
    }
    .drop-down-meun .menu-list{
        width: 55vw;
    }
    .drop-down-meun .menu-list .list-item{
        height: 15vw;
    }
    .list-item .list-btn i{
        font-size: 9vw;
        padding: 0 4vw;
    }
    .list-item .list-btn p{
        font-size: 3vw;
        margin-left: 3vw;
    }
    #logoutModal .modal-content{
        height: 35vw;
        width: 60vw;
    }
}
